REACT_APP_TENANT_ID=ed1c89be-f3bf-4efa-85a5-cfacbb526-ball-leis-center
REACT_APP_INDEX_HTML_FAV_ICON_ABSOLUTE_PATH=https://ed1c89be-f3bf-4efa-85a5-cfacbb526-ball-leis-center-970547349107.s3.eu-west-1.amazonaws.com/database/images/fav-icon.png
REACT_APP_WEBSITE_DESCRIPTION=Elevate your teams performance with GRG-Sports bespoke teamwear. Designed for high-performance athletes, our gear gives your team the edge. Get Game Ready!